# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Node
node_modules/
dist/
build/

# Vite
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Database cache
*.sqlite3
*.log